body {
  width: 100%;
  height: 100vh;
  margin: 0;
  /*background-image: url("https://koshka.top/uploads/posts/2021-12/1638688825_1-koshka-top-p-kotik-za-noutbukom-1.jpg");
  background-size: cover;*/
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzyZMXJ57yZsutSaQkrY9bNtMJAzIObhczO8QbCxDdkuvuUPBI0tFwanNnYJ_KMWVi3B0&usqp=CAU");
  background-size: 15%;
  color: #c7ac2a;
  font-family: Tahoma;
  font-size: 16px;
}

h1, p {
  margin: 0.5em auto;
  text-align: center;
}

.header {
  color: black;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 1.5em auto 10px auto;
  padding-bottom: 1.5em;
  padding-top: 0.5em;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.7rem;
}

fieldset {
  border: none;
  padding: 0rem 15px;
  margin: 0.5rem
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 0.2em 0 0 0;
  width: 100%;
  min-height: 1em;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 50%;
  margin: auto;
  height: 2em;
  font-size: 1.1rem;
  color: white;
  background-color: #c7ac2a;
  border: none;
  border-radius: 0.7rem;
}
